:root {
  /* --light: #eee;
  --dark: #342F4E;
  --darker: #262336;
  --blue: #61DAFB;
  --crimson: #DB3052; */
  --light: #d3d0cbff;
  --dark: #393e41ff;
  --darker: #1e2019ff;
  --blue: #587b7fff;
  --crimson: #e26e44;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
}

body {
  background-color: var(--darker);
}

.App {
  color: var(--light);
  text-align: center;
  padding-top: 4rem;
}
.hidden {
  display: none;
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#bean-chef {
  width: 50%;
}
#logo-text { 
  color: #E2C044; 
  font-family: 'Trocchi', serif; 
  font-size: 45px; 
  font-weight: normal; 
  line-height: 48px; 
  margin: 0; 
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.recipes {
  display: grid;
  max-width: 1024px;
  margin: 2rem auto 0;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1rem;
}

.recipe {
  background-color: var(--dark);
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: left;
}
.recipeImage {
  width: 100%;
}

.recipeImage-normal {
  width: 100%
}
.recipeImage-zoomed {
  transform: scale(1.8); 
  width: 100%
}
#imagesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.recipeCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.viewingCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/* .imagesContainer:hover {
  transform: scale(1.8); 
} */
.imagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: .2em;
  margin: 0 15px;
  font-size: 4em;
  width: 100%;
}
#carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-color: none;

}
.rec-carousel-control {
  color: #E2C044;
}
.rec-carousel-item:enabled {
  background-color: none;
  border-color: none;
}
.rec-carousel-item:focus {
    outline: none;
}
.rec-carousel-item:hover {
    outline: none;
    border-color: none;
}
.rec.rec-arrow:disabled {
  border-radius: 5;
  background-color: #E2C044;
}
.rec.rec-arrow:enabled {
  border-radius: 5;
  background-color: #E2C044;
} 
.rec.rec-arrow:enabled:hover {
  border-radius: 5;
  background-color: #E2C044;
} 
.rec.rec-arrow:disabled:hover {
  border-radius: 5;
  background-color: #E2C044;
} 
.rec.rec-arrow:enabled:not(:hover) {
  border-radius: 5;
  background-color: #E2C044;
} 
.rec.rec-arrow:disabled:not(:hover) {
  border-radius: 5;
  background-color: #E2C044;
}
.rec.rec-arrow:disabled:hover {
  border-radius: 5;
  background-color: #E2C044;
} 
.rec.rec-arrow:not(:disabled) {
  border-radius: 5;
  background-color: #E2C044;
}
.rec.rec-arrow:not(:enabled) {
  border-radius: 5;
  background-color: #E2C044;
}
.rec.rec-arrow {
  border-radius: 5;
  background-color: #E2C044;
}

.rec.rec-dot_active {
  background: #E2C044;
  box-shadow: 0 0 1px 1px lightgray;
}

button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  color: var(--darker);
  font-weight: bold;
  text-transform: uppercase;

  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: var(--blue);
}

.buttons {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-left: -0.5rem;
}

.buttons button {
  margin: 0 0.5rem;
}

button.remove {
  color: var(--light);
  background-color: var(--crimson);
}

h4 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

ol, ul {
  list-style: none;
}

li {
  line-height: 1.4;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  text-align: left;
}

.popup-inner {
  background-color: var(--dark);
  padding: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 480px;
  overflow: auto;
  max-height: calc(100vh - 4rem);
}

.popup h2 {
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group:last-of-type {
  margin-bottom: 0;
}

input, textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  resize: vertical;
  max-height: 200px;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group button {
  margin-top: 1rem;
}

progress {
  border-radius: 7px; 
  width: 80%;
  box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
}
progress::-webkit-progress-bar {
  border-radius: 1.5rem;
}
progress::-webkit-progress-value {
  background-color: #E2C044;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 5px 0px lightgray;
}
#file-upload {
  display: none;
}
.custom-file-upload {
    border: .3em solid #e26e44;
    background-color: #e26e44;
    text-align: center;
    padding: .3em;
    border-radius: .5em;
    width: 30%;
    cursor: pointer;
}